body {
  font-family: Arial, sans-serif;
  background: #f4f8ff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #0a58ca;
}

.info {
  margin-bottom: 25px;
}

.grid {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

button {
  padding: 12px;
  border: none;
  background: white;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:hover {
  background: #0a58ca;
  color: white;
}

.content-box {
  margin: 30px auto;
  max-width: 900px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
